/* PERSONALIZA TAMANHO DA TELA INTEIRA */
.home-screen {
    display: flex;
    height: 100%;
    width: 100%;
}

.home-logo {
    height: auto;
    width: 100%;
}

/* PERSONALIZA TAMANHO E COR DO LADO ESQUERDO (VERDE) */
.home-screen-left {
    height: 100%;
    width: 25%;
    background-color: var(--maneiro);
    text-align: center;
}

.home-screen-left a {
    text-decoration: none;
    width: 70%;
    padding: 10px 5px;
    font-size: 17px;
    border: none;
    background-color: var(--gray);
    color: var(--dark-green);
    font-weight: bolder;
    border-radius: 5px;
    margin-bottom: 30px;
}

.home-screen-left a:hover {
    cursor: pointer;
    background-color: var(--dark-green);
    color: var(--green);
}

.home-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

/* PERSINALIZA TAMANHO E COR DO LADO DIREITO (BRANCO) */
.home-screen-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 75%;
    padding: 50px;
    text-align: center;
    background-color: var(--dark-green);
    align-items: center;
    ;
}

.home-screen-right h2 {
    font-size: 50px;
    top: 50px;
    position: absolute;
}

.home-graphic {
    width: 100%;
}